@CHARSET "UTF-8";

.row {
    margin-left: 0;
    margin-right: 0;
}

.earning-date-header {
    border-left: 3px solid #5bc0de;
}

.earning-table td:first-of-type {
    padding-right: 15px;
}

.earning-today {
    color: #5bc0de;
}

.rating-buy {
    color: #093;
}

.rating-overweight {
    color: #5cb85c;
}

.rating-hold {
    color: #5bc0de;
}

.rating-underweight {
    color: #f0ad4e;
}

.rating-sell {
    color: red;
}

.earning-tool {
    display: inline-block;
    margin-right: 10px;
}

h3.earning-report-title {
    font-size: 120%;
}

.future-label {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.future-up {
    color: #093;
}

.future-down {
    color: red;
}

.calculator {
    position: absolute;
    right: 10px;
    top: 3px;
}


.calculator input {
    height: 24px;
}

.invalid {
    box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.6) !important;
    border-color: rgba(255, 0, 0, 0.6) !important;
}
